<div class="panel panel-lined passup-list-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      Recurring Insights
      <a class="btn btn-xs btn-default" ui-sref="team_admin.survey_new">Create New</a>
    </h3>
  </div>
  <div class="panel-body">
    <survey-list-row survey="survey" ng-repeat="survey in ctrl.recurringSurveys | orderBy:'updated_at':true"></survey-list-row>
    <empty-state icon="fa-plus-circle" text="Add your first survey!" ng-if="ctrl.recurringSurveys.length === 0" actionable="ctrl.newSurvey()"></empty-state>
  </div>
</div>
