<div class="edit-survey--wrapper">
  <h3 class="mt0">Insight Editor</h3>

  <form class="form-horizontal mt30">
    <div class="form-group">
      <label class="col-md-4 control-label">Survey Name</label>
      <div class="col-md-8">
        <input ng-readonly="!ctrl.survey.isEditable()" required type="text" class="form-control" ng-model="ctrl.survey.data.name" placeholder="Weekly Insight">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">
        Frequency?
      </label>
      <div class="col-md-8 ui-toggle ui-toggle-primary">
        <select ng-readonly="!ctrl.survey.isEditable()" class="form-control" ng-model="ctrl.survey.data.weeks_between_due" ng-options="obj.value as obj.label for obj in ctrl.frequencyOptions">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">
        Insight Due At
        <p>
          <small><i>
            Future insights will be due at this day / time, in your current time zone.
          </i></small>
        </p>
      </label>
      <div class="col-md-8 ui-toggle ui-toggle-primary">
        <div class="input-group">
          <input ng-readonly="!ctrl.survey.isEditable()" type="text" class="form-control" ng-change="ctrl.survey.setFirstDueAt(ctrl.due_at_picker.date)" ng-model="ctrl.due_at_picker.date" datetime-picker="MM/dd/yyyy h:mm a" is-open="ctrl.due_at_picker.open" />
          <span class="input-group-btn">
            <button ng-disabled="!ctrl.survey.isEditable()" type="button" class="btn btn-default fa fa-calendar" ng-click="ctrl.due_at_picker.open = !ctrl.due_at_picker.open"></button>
          </span>
        </div>
        <small ng-if="ctrl.due_at_picker.original && ctrl.due_at_picker.original.toString() !== ctrl.due_at_picker.date.toString()">
          <i>Due Insights will be updated to be due at this time.</i>
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">
        Show Goals Section?
        <p>
          <small><i>
            The goals section will be displayed at the top of insights and contains weekly goals.
          </i></small>
        </p>
      </label>
      <div class="col-md-8 ui-toggle ui-toggle-primary">
        <label class="ui-toggle-inline">
          <input ng-disabled="!ctrl.survey.isEditable()" type="checkbox" ng-model="ctrl.survey.data.goals_section">
          <span></span>
        </label>
      </div>
    </div>
    <div class="edit-survey--questions">
      <div class="form-group" ng-repeat="question in ctrl.survey.data.questions">
        <label class="col-md-4 control-label">
          Question {{ $index + 1 }}
          <span class="edit-survey--arrow-wrapper">
            <i class="fa fa-lg fa-caret-up" ng-hide="$first" ng-click="ctrl.survey.moveQuestion($index, -1)"></i>
            <i class="fa fa-lg fa-caret-down" ng-hide="$last" ng-click="ctrl.survey.moveQuestion($index, 1)"></i>
          </span>
        </label>
        <div class="col-md-2">
          <select class="form-control"
                  ng-model="question.question_type"
                  ng-options="obj.value as obj.label for obj in ctrl.questionTypes"
                  ng-disabled="question.id"></select>
        </div>
        <div class="col-md-5">
          <input ng-readonly="!ctrl.survey.isEditable()" required type="text" class="form-control" ng-model="question.question">
        </div>
        <div class="col-md-1 button--inline-form" ng-if="ctrl.survey.isEditable()">
          <button type="button" class="btn btn-warning btn-xs" ng-click="ctrl.survey.removeQuestion($index)">Remove</button>
        </div>
      </div>
      <div class="form-group" ng-if="ctrl.survey.isEditable()">
        <label class="col-md-4 control-label">
          <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.survey.addQuestion()">Add Question</button>
        </label>
      </div>
    </div>

    <div class="edit-survey--submit-wrapper" ng-if="ctrl.survey.isEditable()">
      <button class="pull-right btn btn-primary btn-lg" ng-click="ctrl.save()" ng-disabled="!ctrl.survey.valid()">Save Insight Template</button>
    </div>
  </form>
</div>
