<div class="survey-list--row">
  <div class="survey-list--row--top">
    <h5 ui-sref="team_admin.survey({ id: ctrl.survey.data.id })">{{ ctrl.survey.data.name }}</h5>
    <span class="label label-info-hollow">{{ ctrl.survey.data.users_in_scope }} users</span>
    <span class="label label-info-hollow">{{ ctrl.survey.data.response_count }} responses</span>
    <small class="label label-danger" ng-hide="ctrl.survey.data.active">Not accepting responses</small>
    <div class="pull-right survey-list--row--actions">
      <a ui-sref="team_admin.survey({ id: ctrl.survey.data.id })" class="btn btn-success">
        {{ ctrl.survey.data.completed_at ? 'View' : 'Edit' }}
      </a>
    </div>
  </div>
  <div class="survey-list--row--details" ng-if="!ctrl.survey.data.completed_at">
    <small ng-show="ctrl.survey.data.recurring && ctrl.survey.data.active">Recurring since {{ ctrl.survey.data.created_at | date:'shortDate' }}, created by {{ ctrl.survey.data.creator }}</small>
    <small ng-show="!ctrl.survey.data.recurring || !ctrl.survey.data.active">One-off created {{ ctrl.survey.data.created_at | date:'shortDate' }} by {{ ctrl.survey.data.creator }}</small>
  </div>
  <div class="survey-list--row--details" ng-if="ctrl.survey.data.completed_at">
    <small>Ended {{ ctrl.survey.data.completed_at | date:'shortDate' }}, created by {{ ctrl.survey.data.creator }}</small>
  </div>
</div>
