<header class="site-head clearfix" id="site-head">
  <div class="nav-head">
    <a href="#/dashboard-v1" class="site-logo"><span>Serve</span>&nbsp;Insight</a>
  </div>

  <div class="head-wrap clearfix">
    <ul class="list-unstyled alerts pull-left">
      <li ng-show="ctrl.dueSurveyCount">
        <a ui-sref="surveys.my_recent">
          {{ ctrl.dueSurveyCount }} Survey Due!
        </a>
      </li>
      <li ng-show="ctrl.unreadPassupCount">
        <a ui-sref="passups.list">
          {{ ctrl.unreadPassupCount }} Unread Pass-ups
        </a>
      </li>
    </ul>

    <ul class="list-unstyled navbar-right">
      <!-- notification -->
      <li class="dropdown open" dropdown="">
        <a href="" class="dropdown-toggle notification" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-bell-o"></i>
          <span class="badge badge-danger badge-xs circle">3</span>
        </a>
        <div class="panel panel-default dropdown-menu">
          <div class="panel-heading">
            <p class="panel-title">You have <strong>1</strong> new notifications</p>
          </div>
          <ul class="list-unstyled noti-drop clearfix ps-container ps-active-y" custom-scrollbar="">
            <li>
              <a href="" class="clearfix">
                <div class="info left">
                  <strong>New Weekly Insight Report</strong>
                  <span class="small time">5 minutes ago</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="panel-footer">
            <p class="read-all mb0 small">
              <a href="#na">View all notifications</a>
            </p>
          </div>
        </div>
      </li>
      <!-- end notification -->

      <!-- profile drop -->
      <li class="dropdown" dropdown="">
        <a href="" class="user-profile dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-2x"></i>
        </a>
        <!-- Profile drop -->
        <div class="panel panel-default dropdown-menu">
          <div class="panel-body">
            <div class="profile-info" ng-show="$root.current_user">
              <p class="user-name">{{ $root.current_user.name }}</p>
              <p>{{ $root.current_user.email }}</p>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <a href="j:;" class="btn btn-default btn-sm left">Account</a>
            <a href="#/pages/lock-screen" class="btn btn-info btn-sm right">Sign Out</a>
          </div>
        </div>
      </li>
      <!-- #end profile-drop -->
    </ul>
  </div>
</header>
