<header class="site-head clearfix" id="site-head">
  <div class="nav-head">
    <a href="/" class="site-logo"><span>Serve</span>&nbsp;Insight</a>
  </div>

  <div class="head-wrap" ng-if="$root.appState === 'setup'">
  </div>

  <div class="head-wrap clearfix" ng-if="$root.appState === 'main'">
    <ul class="list-unstyled alerts pull-left" ng-if="ctrl.stateLoaded()">
      <li ng-show="!ctrl.HeaderState.dueSurveyCount && !ctrl.HeaderState.reviewableCount && !ctrl.HeaderState.unreadPassupCount">
        <a>Nothing due!</a>
      </li>
      <li ng-show="ctrl.HeaderState.dueSurveyCount">
        <a ui-sref="surveys.my_recent" ui-sref-opts="{reload: true}">
          {{ ctrl.HeaderState.dueSurveyCount }} Surveys Due
        </a>
      </li>
      <li ng-show="ctrl.HeaderState.reviewableCount">
        <a ui-sref="surveys.reports" ui-sref-opts="{reload: true}">
          {{ ctrl.HeaderState.reviewableCount }} Surveys Need Review
        </a>
      </li>
      <li ng-show="ctrl.HeaderState.unreadPassupCount">
        <a ui-sref="passups.list" ui-sref-opts="{reload: true}">
          {{ ctrl.HeaderState.unreadPassupCount }} Unread Pass-ups
        </a>
      </li>
    </ul>

    <ul class="list-unstyled navbar-right">
      <!-- notification -->
      <li class="dropdown open" uib-dropdown="">
        <a href="" class="dropdown-toggle notification" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-bell-o"></i>
          <span class="badge badge-danger badge-xs circle" ng-if="ctrl.notificationList.count()">{{ ctrl.notificationList.count() }}</span>
        </a>
        <div class="panel panel-default dropdown-menu">
          <div class="panel-heading">
            <p class="panel-title">You have <strong>{{ ctrl.notificationList.count() }}</strong> new notifications</p>
          </div>
          <ul class="list-unstyled noti-drop clearfix ps-container ps-active-y" custom-scrollbar="">
            <li ng-repeat="notification in ctrl.notificationList.notifications">
              <a ui-sref="{{notification.uiSref()}}" class="clearfix" ng-click="notification.complete()">
                <div class="info left">
                  <strong>{{ notification.text }}</strong>
                  <span class="small time" am-time-ago="notification.created_at"></span>
                  <span class="small" ng-if="notification.status === 'pending'"> | unread</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="panel-footer clearfix">
            <p class="read-all mb0 small pull-left">
              <a href="#na">View all notifications</a>
            </p>
            <p class="complete-all mb0 small pull-right">
              <a ng-click="ctrl.markAllRead()">Mark all as read</a>
            </p>
          </div>
        </div>
      </li>
      <!-- end notification -->

      <!-- profile drop -->
      <li class="dropdown" uib-dropdown="">
        <a href="" class="user-profile dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-2x"></i>
        </a>
        <!-- Profile drop -->
        <div class="panel panel-default dropdown-menu">
          <div class="panel-body">
            <div class="profile-info" ng-show="$root.current_organzation_member">
              <p class="user-name">{{ $root.current_organzation_member.name }}</p>
              <p>{{ $root.current_organzation_member.email }}</p>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <a href="j:;" class="btn btn-default btn-sm left" uib-tooltip="Coming Soon!" tooltip-append-to-body="true">Account</a>
            <a ng-click="ctrl.logOut()" class="btn btn-info btn-sm right">Sign Out</a>
          </div>
        </div>
      </li>
      <!-- #end profile-drop -->
    </ul>
  </div>
</header>
