<div class="survey-page page clearfix">
    <ol class="breadcrumb breadcrumb-small">
        <li>Serve Insight</li>
        <li class="active">
          <a ui-sref="surveys.my_recent">My Surveys</a>
        </li>
    </ol>

    <div class="page-wrap mt15">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="survey-title">
            <span class="title">{{ ctrl.survey.title }}</span>
            <div class="select-wrapper">
              <ui-select ng-model="ctrl.selectedSurvey"
                         search-enabled="true"
                         theme="bootstrap"
                         ng-change="ctrl.surveySelected(ctrl.selectedSurvey)">
                <ui-select-match placeholder="View Different Survey">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="survey in ctrl.surveyList.surveys | filter: $select.search track by survey.id">
                  <div ng-bind-html="survey.title"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </h3>
        </div>
      </div>

      <div class="row mt15 mb15">
        <div class="col-sm-9">
          <survey survey="ctrl.survey"></survey>
        </div>

        <div class="col-sm-3">
          <div class="panel panel-success">
            <div class="panel-heading">
              <i>
                Quick Notes
              </i>
            </div>

            <ul class="list-group">
              <li class="list-group-item" ng-repeat="note in ctrl.quickNoteList.notes">
                {{ note.content }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>