@import "app/comments";
@import "app/survey";
@import "app/nav";
@import "app/charts";
@import "app/survey-list";
@import "app/edit-survey";
@import "app/empty-states";
@import "app/forms";
@import "app/notify";
@import "app/header";
@import "app/notifications";
@import "app/shoutouts";
@import "app/dashboard";

body > .wrapper {
  height: 100%;
}

.site-logo {
  text-transform: uppercase;
  text-align: center;

  color: @text-color;
  font-weight: 100;
  > span {
    font-weight: 800;
  }
}

.thin {
  font-weight: 100;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  color: #888;
}

.btn-icon-circle {
  width: 38px;
  height: 38px;
  padding: 0;
}

[ng-click] {
  cursor: pointer;
}

.overflow-scroll {
  overflow: scroll;
}

.button--inline-form {
  line-height: 33px;
}

.display-inline-block {
  display: inline-block;
}

.glyphicon {
  // .fa
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left:before { content: "\f053"; }
.glyphicon-chevron-right:before { content: "\f054"; }
