.question-wrapper {
  &:extend(.well);
  background: white;
  box-shadow: none;
  border-radius: 0;

  margin-bottom: 21px;

  .question {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 1.6rem;
  }

  .answer {
    margin-bottom: 7px;
  }
}

.survey-page {
  .survey-title {
    span, select {
      display: inline-block;
      width: auto;
    }

    select {
      margin-left: 14px;
    }
  }
}