@import "app/comments";
@import "app/survey";

body > .wrapper {
  height: 100%;
}

.site-logo {
  text-transform: uppercase;
  text-align: center;

  color: @text-color;
  font-weight: 100;
  > span {
    font-weight: 800;
  }
}

.thin {
  font-weight: 100;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  color: #888;
}

.btn-icon-circle {
  width: 38px;
  height: 38px;
  padding: 0;
}

[ng-click] {
  cursor: pointer;
}
