<div class="page page-dashboard-v2 clearfix">
  <ol class="breadcrumb breadcrumb-small">
    <li>Serve Insight</li>
    <li class="active">
      <a ui-sref="dashboard">Dashboard</a>
    </li>
  </ol>

  <div class="page-wrap mt15">
    <div class="row actions">
      <div class="col-md-6 col-sm-12">
        <div class="panel panel-lined mb30 quick-action success">
          <div class="panel-heading clearfix">
            <div class="pull-left">
              quick <strong>shout-out</strong> <i class="fa fa-bullhorn" />
            </div>

            <div class="pull-right">
              <i>highlight a coworker</i>
            </div>
          </div>
          <div class="panel-body dashboard-shoutout-writer">
            <textarea rows="3"
                      class="form-control resize-v post-area"
                      placeholder="I really like when @steve did..."
                      ng-model="ctrl.tempShoutout"
                      mentio
                      mentio-template-url="app/components/mentio/person.html"
                      mentio-items="ctrl.people"></textarea>
            <ul class="post-tools list-unstyled clearfix">
              <li class="right">
                <button class="btn btn-primary" ng-disabled="!ctrl.tempShoutout" ng-click="ctrl.createShoutout()">Shout Out!</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="panel panel-lined mb30 success">
          <div class="panel-heading clearfix">
            <div class="pull-left">
              your <strong>due insights</strong>
              <span ng-if="ctrl.surveyList.count() > 0">({{ ctrl.surveyList.count() }})</span>
            </div>
          </div>
          <div class="panel-body" ng-if="ctrl.surveyList.empty()">
            <empty-state text="No Insights at this time"></empty-state>
          </div>

          <ul class="list-group dashboard-survey-list" ng-if="!ctrl.surveyList.empty()">
            <li class="list-group-item" ng-repeat="survey in ctrl.surveyList.surveys">
              <a ui-sref="surveys.my_show({ id: survey.id })">{{survey.title}}</a>
              <span>
                - Due <span am-time-ago="survey.due_at"></span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row shoutouts">
      <div class="col-xs-12">
        <div class="panel primary">
          <div class="panel-heading clearfix">
            <div class="pull-left">
              your <strong>shout-outs</strong> <i class="fa fa-bullhorn" />
            </div>
          </div>
          <div class="panel-body">
            <empty-state text="Shoutouts are a great way to share support for your team." ng-if="ctrl.shoutoutList.empty()"></empty-state>
            <table class="table" ng-if="!ctrl.shoutoutList.empty()">
              <thead>
                <tr>
                  <th width="20%">Teammate</th>
                  <th>When?</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="shoutout in ctrl.shoutoutList.shoutouts | limitTo:(ctrl.shoutoutList.limitedTo)">
                  <td>{{ shoutout.organization_membership.name }}</td>
                  <td am-time-ago="shoutout.created_at"></td>
                  <td><a ui-sref="shoutouts.show({id: shoutout.id})">{{ shoutout.content }}</a></td>
                </tr>
                <tr ng-if="ctrl.shoutoutList.canLoadMore()">
                  <td colspan="3">
                    <button ng-disabled="ctrl.shoutoutList.loading"
                            ng-click="ctrl.shoutoutList.loadMore()"
                            type="button"
                            class="btn btn-primary btn-xs">Load more...</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
