<div class="page">
  <ol class="breadcrumb breadcrumb-small">
    <li>Serve Insight</li>
    <li class="active">
      <a ui-sref="team_admin.settings">Team Admin</a>
    </li>
  </ol>

  <div class="row actions">
    <div class="col-md-6 col-sm-12">
      <div class="panel panel-lined mb30 success">
        <div class="panel-heading clearfix">
          Invite a User
        </div>
        <div class="panel-body">
          <invite-form organization="$root.current_organzation_member.organization" after-invite="ctrl.userInvited"></invite-form>
        </div>
      </div>
    </div>
  </div>

  <div class="row actions">
    <div class="col-xs-12">
      <div class="panel panel-lined mb30 success">
        <div class="panel-heading clearfix">
          Setup Reviewer Structure

          <span ng-if="ctrl.canSave">
            <button class="btn btn-primary btn-xs" ng-click="ctrl.save(ctrl.hierarchy)">Save Changes</button>
          </span>
        </div>
        <div class="panel-body">
          <org-chart hierarchy="ctrl.hierarchy" on-change="ctrl.hierarchyUpdated" callbacks="ctrl.orgChartCallbacks" />
        </div>
      </div>
    </div>
  </div>
</div>
