<div class="answer">
  <div ng-class="{ 'input-group': ctrl.actionable }">
    <input class="form-control"
         type="text"
         placeholder="+ Answer"
         ng-model="ctrl.answer.value"
         ng-change="ctrl.question.cleanupAnswer(ctrl.answer)"
         ng-blur="ctrl.question.cleanupAnswer(ctrl.answer)"
         mentio
         mentio-template-url="app/components/mentio/person.html"
         mentio-items="ctrl.people"
         ng-readonly="ctrl.locked" />
    <div class="input-group-btn action-buttons" ng-show="ctrl.actionable">
      <button type="button" class="btn btn-primary fa fa-level-up" ng-if="$root.Permissions.isPassupable(ctrl.answer)"></button>
      <button type="button" class="btn btn-success fa fa-comment" ng-click="ctrl.showNewComment = !ctrl.showNewComment"></button>
    </div>
  </div>

  <comments ng-show="ctrl.actionable" commentable="ctrl.answer" show-new="ctrl.showNewComment" />
</div>