<div class="goal">
  <div class="input-group">
    <div>
      <span ng-if="ctrl.goal.status === 'complete'">
      <button ng-click="ctrl.updateStatus('miss')"
              ng-disabled="!ctrl.editable"
              type="button"
              class="btn btn-success fa fa-check btn-icon-circle icon"></button>
      </span>

      <span ng-if="ctrl.goal.status === 'miss'">
      <button ng-click="ctrl.updateStatus('complete')"
              ng-disabled="!ctrl.editable"
              type="button"
              class="btn btn-danger fa fa-times btn-icon-circle icon"></button>
      </span>

      <span ng-if="!ctrl.goal.status">
      <button ng-click="ctrl.updateStatus('complete')"
              ng-disabled="!ctrl.editable"
              type="button"
              class="btn btn-warning fa fa-hand-pointer-o btn-icon-circle icon"></button>
      </span>

      <span class="ml15">{{ ctrl.goal.content }}</span>
    </div>

    <div class="input-group-btn action-buttons">
      <button type="button" class="btn btn-primary fa fa-level-up" ng-if="$root.Permissions.isPassupable(ctrl.goal)"></button>
      <button type="button" class="btn btn-success fa fa-comment" ng-click="ctrl.showNewComment = !ctrl.showNewComment"></button>
    </div>
  </div>

  <comments commentable="ctrl.goal" show-new="ctrl.showNewComment" />
</div>
