<div class="survey-wrapper">
  <div class="goals-wrapper" ng-if="ctrl.survey.goal_question">
    <div class="question-wrapper">
      <div class="question" ng-if="ctrl.survey.previous_goals.length > 0">Mark goals from your previous weekly survey completed</div>
      <survey-goal goal="goal" editable="!ctrl.survey.completed" ng-repeat="goal in ctrl.survey.previous_goals"></survey-goal>

      <div class="question" ng-class="{ mt15: ctrl.survey.previous_goals.length > 0 }">{{ ctrl.survey.goal_question.question }}</div>
      <div class="answers">
        <survey-answer actionable="ctrl.survey.completed" locked="ctrl.survey.locked" answer="answer" question="ctrl.survey.goal_question" ng-repeat="answer in ctrl.survey.goal_question.answers"></survey-answer>
      </div>
    </div>
  </div>

  <div class="question-wrapper" ng-repeat="question in ctrl.survey.questions">
    <div class="question">{{ question.question }}</div>

    <div class="answers">
      <survey-answer actionable="ctrl.survey.completed" locked="ctrl.survey.locked" answer="answer" question="question" ng-repeat="answer in question.answers"></survey-answer>
    </div>
  </div>

  <div class="text-center" ng-if="!ctrl.survey.completed">
    <button type="submit"
            class="btn btn-lg btn-success btn-rounded"
            ng-disabled="!ctrl.survey.readyToSubmit()"
            ng-click="ctrl.submitSurvey()">
      <span ng-if="ctrl.survey.readyToSubmit()">Submit Survey</span>
      <span ng-if="!ctrl.survey.readyToSubmit()">Complete All Questions</span>
    </button>
  </div>

  <div class="question-wrapper insight-feedback--wrapper">
    <div class="question">Do you have any feedback?</div>

    <div class="answers">
      <comments commentable="ctrl.survey" show-new="true" />
    </div>
  </div>

  <div ng-if="ctrl.reviewing">
    <div class="text-center">
      <button type="submit" class="btn btn-lg btn-success btn-rounded" ng-click="ctrl.markReviewed()">
        Mark Reviewed
      </button>
    </div>
  </div>
</div>
