<div class="panel panel-lined mb30 success">
  <div class="panel-heading clearfix">
    Setup Reviewer Structure

    <span ng-if="ctrl.canSave">
      <button class="btn btn-primary btn-xs" ng-click="ctrl.save(ctrl.hierarchy)">Save Changes</button>
    </span>
  </div>
  <div class="panel-body" ng-if="ctrl.chartData">
    <div class="col-md-4 col-xs-12 org-chart--options">
      <div ng-if="!ctrl.showInvite && !ctrl.selectedInfo()">
        <div>Select a person for options</div>
        <div class="mt15">
          <button class="btn btn-success" ng-click="ctrl.showInvite = !ctrl.showInvite">Invite User</button>
        </div>
      </div>

      <div ng-if="ctrl.showInvite && !ctrl.selectedInfo()">
        <invite-form on-cancel="ctrl.showInvite = false" organization="$root.current_organzation_member.organization" after-invite="ctrl.userInvited()"></invite-form>
      </div>

      <div ng-if="ctrl.selectedInfo()">
        <form class="form-horizontal org-chart--info-form">
          <div class="form-group">
            <label class="col-lg-4 control-label">Name</label>
            <div class="col-lg-8">
              <input ng-change="ctrl.updatedInformation()" required="" type="text" class="form-control" ng-model="ctrl.selectedInfo().name" required placeholder="Pat Smith">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Email</label>
            <div class="col-lg-8">
              <input ng-change="ctrl.updatedInformation()" readonly required="" type="email" class="form-control" ng-model="ctrl.selectedInfo().email" required placeholder="user@mycompany.com">
            </div>
          </div>
        </form>

        <span ng-if="!ctrl.reviewerChangeStarted">
          <button class="btn btn-default btn-xs" ng-disabled="ctrl.selectedElementIndex === undefined" ng-click="ctrl.startReviewerChange()">
            Change Reviewer
          </button>
          <button class="btn btn-default btn-xs" ng-disabled="ctrl.selectedElementIndex === undefined" ng-click="ctrl.removeReviewer()">
            Remove Reviewer
          </button>
        </span>

        <span ng-if="ctrl.reviewerChangeStarted">
          <button class="btn btn-default btn-xs" ng-click="ctrl.cancel()">
            Cancel Change
          </button>
          <i>
            Select new reviewer
          </i>
        </span>
      </div>
    </div>
    <div class="col-md-8 col-xs-12" google-chart chart="ctrl.chart" agc-on-select="ctrl.selected(selectedItem, chart)" agc-on-ready="ctrl.chartReady(chartWrapper)" />
  </div>
</div>
