<form class="text-center" ng-submit="ctrl.submit()">
  <div ng-if="ctrl.result" class="alert alert-success">
    {{ ctrl.result }}
  </div>

  <p>
    Have you forgotten your password? Enter it here to get a reset password link.
  </p>

  <div class="form-group form-group-lg">
    <input class="form-control" ng-model="ctrl.email" required type="email" placeholder="you@example.com" />
  </div>

  <div class="clearfix mb15">
    <button type="submit"
            class="btn btn-lg btn-primary text-uppercase">
      Resend Confirmation Email
    </button>
  </div>

  <div class="clearfix text-center">
    <a ui-sref="login">
      Now you remember? Go login!
    </a>
  </div>
</form>
