<div class="row page">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center site-logo"><span>Serve</span> Insight</h1>
    <h3 class="text-center thin">Gather insights from your team so you can best serve them.</h3>

    <div class="panel panel-lined mt30 form-wizard">
      <div class="panel-body">
        <ul class="list-unstyled wizard-tabs mb30">
          <li ng-class="{active: ctrl.step === 'create'}">
            <span class="text">Create Organization</span>
            <i class="fa fa-long-arrow-right"></i>
          </li>
          <li ng-class="{active: ctrl.step === 'finish'}">
            <span class="text">Finish</span>
          </li>
        </ul>

        <hr class="dashed">

        <form class="form-horizontal" ng-submit="ctrl.createOrganization()" ng-show="ctrl.step === 'create'">
          <div class="form-group">
            <label class="col-lg-4 control-label">Organization Name</label>
            <div class="col-lg-8">
              <input required type="text" class="form-control" ng-model="ctrl.organizationParams.name">
            </div>
          </div>

          <div class="clearfix">
            <button type="submit" class="btn btn-success right">Next</button>
          </div>
        </form>

        <div class="text-center" ng-show="ctrl.step === 'finish'">
          <h3 class="text-light">Welcome to Serve Insight.</h3>
          <p class="lead">
            Up next, you'll set up your first survey and define your organization structure.
          </p>
          <div class="clearfix">
            <button ng-click="ctrl.finished()" class="btn btn-success right">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
