<aside class="nav-wrap" id="site-nav" custom-scrollbar>
  <nav class="site-nav clearfix" role="navigation">
    <ul class="list-unstyled nav-list">
      <li ui-sref-active="active">
        <a ui-sref="dashboard">
          <i class="fa fa-desktop icon"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>

      <li ng-class="{ active: $root.$state.includes('surveys') }">
        <a ui-sref="surveys.my_recent">
          <i class="fa fa-question-circle icon"></i>
          <span class="text">Your Surveys</span>
        </a>
      </li>

      <li ng-if="$root.current_user.hasFeature('pass-ups')">
        <a href="#">
          <i class="fa fa-level-up icon"></i>
          <span class="text">Pass-ups</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
