<aside class="nav-wrap" id="site-nav" custom-scrollbar>
  <nav class="site-nav clearfix" role="navigation">
    <ul class="list-unstyled nav-list">
      <li ui-sref-active="active">
        <a ui-sref="dashboard">
          <i class="fa fa-desktop icon"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>

      <li ng-class="{ active: $root.$state.includes('surveys.my_recent') || $root.$state.includes('surveys.my_show') }">
        <a ui-sref="surveys.my_recent">
          <i class="fa fa-question-circle icon"></i>
          <span class="text">Due Insights</span>
        </a>
      </li>

      <li ng-class="{ active: $root.$state.includes('surveys.completed') || $root.$state.includes('surveys.completed_show') }">
        <a ui-sref="surveys.completed">
          <i class="fa fa-question-circle icon"></i>
          <span class="text">Completed Insights</span>
        </a>
      </li>

      <li ng-class="{ active: $root.$state.includes('surveys.reports') || $root.$state.includes('surveys.reports_show') }" ng-if="$root.current_organzation_member.hasFeature('reviewable-surveys')">
        <a ui-sref="surveys.reports">
          <i class="fa fa-gavel icon"></i>
          <span class="text">Direct-Report Insights</span>
        </a>
      </li>

      <li ng-class="{ active: $root.$state.includes('passups') }" ng-if="$root.current_organzation_member.hasFeature('pass-ups')">
        <a ui-sref="passups.list">
          <i class="fa fa-level-up icon"></i>
          <span class="text">Pass-ups</span>
        </a>
      </li>
    </ul>

    <ul class="list-unstyled nav-list admin-nav-list" ng-if="$root.current_organzation_member.admin">
      <li>
        <h4>Admin</h4>
      </li>
      <li ng-class="{ active: $root.$state.current.name === 'team_admin.settings' }">
        <a ui-sref="team_admin.settings">
          <i class="fa fa-cogs icon" />
          <span class="text">Team Setup</span>
        </a>
      </li>
      <li ng-class="{ active: $root.$state.current.name.indexOf('team_admin.survey') > -1 }">
        <a ui-sref="team_admin.surveys">
          <i class="fa fa-cogs icon" />
          <span class="text">Insights Setup</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
